#content {
  font-family: sans;
  text-align: center;
}

.rightwrong p {
  margin: auto;
	padding: 2em;
}

#correct {
  background-color: #22f022;
}

#wrong {
  background-color: #f02222;
}

#start {
  text-align: center;
  font-family: sans;
  width: 100vw;
  height: 100vh;
  padding-top: 45vh;
	background-color: #e0e0e0;
}

#settings {
  position: absolute;
  bottom: 1em;
}

#resume {
	display: none;
}

