#content {
  font-family: sans;
  text-align: center;
}

.rightwrong {
  font-weight: bold;
}

.rightwrong p {
  margin: auto;
	padding: 2em;
}

#correct {
  background-color: green;
}

#wrong {
  background-color: red;
}

#start {
  text-align: center;
  font-family: sans;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  padding-top: 45vh;
}

#settings {
  position: absolute;
  bottom: 1em;
}
